html,body,#app{
    height: 100%;
    padding: 0;
    margin: 0;
<<<<<<< HEAD
}
.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 12px;
}
.el-card{
    box-shadow: 0px, 1px, 1px rgb(0, 0, 0.15) !important;
}
.el-table{
    margin-top: 15px;
    font-size: 12px;
=======
>>>>>>> 97a76d379deaad1e160653f0adf8e5595599a099
}